.pokemon-card {
  background-color: #34495e;
  border-radius: 15px;
  padding: 10px;
  text-align: left; /* Align text to the left */
  width: 200px; /* Increase the width for a horizontal layout */
  height: 100px; /* Set a fixed height */
  position: relative; /* Make the card relative for positioning the pseudo-element */
  overflow: hidden; /* Ensure the rotated image doesn't overflow the card */
  transition: transform 0.3s ease; /* Smooth transition for the hover effect */
}

/* Hover effect */
.pokemon-card:hover {
  transform: translateY(-10px); /* Move the card 10px upwards */
}

.pokemon-card::before {
  content: "";
  position: absolute;
  bottom: 15%; /* Adjust to position the background image */
  left: 60%; /* Adjust to position the background image */
  width: 110px; /* Size of the background image */
  height: 110px; /* Size of the background image */
  background-image: url("/src/assets/pokeball-logo.png"); /* Replace with the actual path to your image */
  background-size: cover; /* Ensure the background image covers the element */
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
  opacity: 0.6; /* Make the background image semi-transparent */
  transform: rotate(45deg); /* Rotate the background image by 45 degrees */
  z-index: 0; /* Ensure the background image is behind the card content */
}

.pokemon-card img {
  max-width: 100px; /* Set a fixed max width */
  height: auto;
  display: block;
  position: absolute;
  bottom: 0px; /* Position near the bottom */
  right: 0px; /* Position near the right */
  z-index: 1; /* Ensure the Pokémon sprite is above the background */
}

.pokemon-name {
  font-size: 1.3em;
  color: #ecf0f1;
  position: absolute;
  top: 0px; /* Position at the top */
  left: 10px; /* Position on the left */
  z-index: 1; /* Keep the text on top of the background */
}

.pokemon-id {
  font-size: 0.8em;
  color: #fff;
  position: absolute;
  top: 0px; /* Position at the top */
  right: 10px; /* Position on the right */
  z-index: 1; /* Keep the text on top of the background */
}

.pokemon-types {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 5px; /* Add some spacing between the type badges */
  position: absolute;
  bottom: -10px; /* Position at the bottom */
  left: 10px; /* Position on the left */
  z-index: 1; /* Keep the text on top of the background */
}

.pokemon-type {
  padding: 3px 8px;
  border-radius: 15px; /* Circular corners */
  border: 2px solid white; /* White border */
  color: white;
  font-size: 0.6em;
  text-align: center;
  background-color: var(
    --type-color
  ); /* Background color from the inline style */
  white-space: nowrap; /* Prevent text from wrapping */
}
